<template>
  <NuxtLayout>
    <h1><p>{{ $t('welcome') }}</p></h1>
    <NuxtPage />
  </NuxtLayout>
</template>
<script setup>
// const { locale, locales } = useI18n()
// const switchLocalePath = useSwitchLocalePath()
// const availableLocales = computed(() => {
//   return (locales.value).filter(i => i.code !== locale.value)
// })
</script>