@use 'variables'

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&family=Oswald:wght@300;400;500;600;700&display=swap')

@tailwind base
@tailwind components
@tailwind utilities

html
  font-family: 'Oswald'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

:root
  @each $name, $color in variables.$colors
    --#{'' + $name}: #{'' + $color}