<template>
  <div>
    <div class="category">
      <h1 class="text-4xl m-4">Category page <i></i>: {{ category }}</h1>
      <div class="grid grid-cols-3 gap-3" v-if="categoryProducts.length > 0">
        <div v-for="product in categoryProducts" :key="product.id" class="rounded transition-shadow shadow-lg hover:shadow-xl">
          <nuxt-link :to="`/catalog/product/${product.id}`" class="flex flex-col p-4 gap-2">
            <img class="h-80 rounded w-full object-contain object-center mb-6" src="~/assets/img/engines/DF140.png" alt="content">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.name }}</h2>
            <p class="text-lg text-gray-500 dark:text-gray-400">{{ product.description }}</p>
  
            <div class="flex items-center justify-between mt-2">
              <span class="font-medium text-lg">
                &euro; {{ product.price }}
              </span>
              <button class="flex items-center justify-center px-4 py-2 font-medium text-white rounded-lg bg-sblue hover:bg-sdarkblue focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                See more
              </button>
            </div>
  
          </nuxt-link>
        </div>
      </div>
      <div v-else>
        <p>Loading...</p>
      </div>
    </div> 
    <div>
      <h1>Ссылки</h1>
    <h1 class="text-4xl font-bold mt-8">Category page: {{ productsStore.getCategories }}</h1>
      <div class="grid grid-cols-3 mt-16">
        <div v-for="product in categoryProducts" :key="product.id" class="shadow-lg rounded-sm p-8">
          <nuxt-link :to="`/catalog/product`">{{ product.name }}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useProductsStore } from '~/store/products'
import { computed } from 'vue'

const productsStore = useProductsStore()
const categories = computed(() => productsStore.getCategories)

const router = useRouter();
const category = router.currentRoute.value.params.category;
const categoryProducts = computed(() => {
  const products = productsStore.getProducts;
  return products.filter(product => product.category.trim() === category);
});

onBeforeMount(async () => {
  if (!categories.value.length) {
    await productsStore.fetchProducts()
  }
})
</script>
<!-- <script setup lang="ts">
import { useRouter } from 'vue-router'
import { useProductsStore } from '~/store/products'
import { computed } from 'vue'

const productsStore = useProductsStore()
const router = useRouter()
const category = router.currentRoute.value.params.category

onBeforeMount(async () => {
  if (!productsStore.getProducts.length) {
    await productsStore.fetchProducts()
  }
})
</script> -->
