<template>
  <div class="container catalog max-w-7xl mx-auto px-4">
    <h1 class="text-4xl font-bold mt-8">Catalog page: {{ categories }}</h1>
    <!-- {{ productsStore.getProducts }} -->
    <div class="grid grid-cols-3 mt-16">
      <div v-for="category in categories" :key="category" class="shadow-lg rounded-sm p-8">
        <nuxt-link :to="`/catalog/${category}`">{{ category }} h.p.</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useProductsStore } from '~/store/products'
import { computed } from 'vue'

const productsStore = useProductsStore()
const categories = computed(() => productsStore.getCategories)

onBeforeMount(async () => {
  if (!categories.value.length) {
    await productsStore.fetchProducts()
  }
})
</script>
