<template>
  <div>
    <h3>Страница продукта</h3>
  <!-- <div v-if="product" class="motor"> -->
    <!-- <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p> -->
    <nuxt-link to="/catalog">Back to Catalog</nuxt-link>
  <!-- </div> -->
  <!-- <div v-else>
    <p>Loading...</p>
  </div> -->
  </div>

</template>

<script setup lang="ts">
import { useProductsStore } from '~/store/products'
import { useRouter } from 'vue-router'

const productsStore = useProductsStore()
const router = useRouter()
const productId = router.currentRoute.value.params.id
// console.log('router ', productId)
const product = computed(() => productsStore.getProducts.find((p) => p.id === productId))

const categories = computed(() => productsStore.getCategories)

onBeforeMount(async () => {
  await productsStore.fetchProducts()
})
</script>