<template>
  <div>
    <h1>Product Catalog</h1>
    <ul>
      <li v-for="product in products" :key="product.id">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <p>Series: {{ product.series }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      products: []
    };
  },
  mounted() {

  }
});
</script>
