<template>
    <footer class="p-4 py-8 bg-white md:p-8 lg:p-10 dark:bg-gray-800 font-inter">
        <div class="mx-auto max-w-screen-xl text-center">
            <div class="flex flex-col md:flex-row flex-wrap md:justify-between items-center">
                <a href="#" class="flex items-center mb-4 text-2xl font-semibold text-gray-900 lg:mb-0 dark:text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="50" viewBox="0 0 422.1 94.9"><g stroke="#1d1d1b" stroke-miterlimit="2.41" stroke-width=".05" fill-rule="evenodd"><path d="M111 15.1c59 6.2 109.4 9.5 162.4 38l-6.9 8.9 2.2-7.9c-42.5-23.4-85.4-28-133.1-32.4 6.3 3.3 18.3 20.6 8.6 37.9 6.7-26-13.6-35.3-33.2-44.5Z" fill="#df043a"/><path d="M148 17.6c3.9-31.5 106 21.8 119.2 27.9l-4.3 1.4.7-1.4C218.2 25.7 162.9-1.8 148 17.6Z" fill="#df043a"/><path d="M174.9 8.2c13.9-19.2 48.1-1 59.9 18.4l-.9.7c-29.6-36.9-57.4-22.6-59-19.1ZM233.3 23l5.4-6.5-8.6-3 10.7.6 3.3-3.4 12.8-.2-10 2-.9 2.2 16.6 1.2-17.9 1.4-6 13.7-2.1-1 7.4-13.9-.6-1.5h1.3l1.4-2.3-2.4-.2-9.3 12.2-1.1-1.3z" fill="#df043a"/><path d="M16.8 62.7h.3l3.8 31.9h9.6l17.3-31.9h.4l-7.9 31.9h11.1l8.8-41.5h-18l-13 26h-.4l-2.4-26H8.9L0 94.6h11.1l5.7-31.9Zm60.5 2.5c-12.1 0-15.1 3-17.6 14.9S59.1 94.9 71 94.9 86.2 92 88.7 80.1s.8-14.9-11.4-14.9ZM76 72.5c4.4 0 4.6 1.3 3.2 7.6s-2 7.5-6.5 7.5-4.8-1.2-3.5-7.5 2.2-7.6 6.8-7.6Zm42.6-7h-11.1l1.3-6.1h-9.5L98 65.5h-3.5l-1.5 7h3.5l-3 14.3c-1.6 7.3 3.3 8.1 9.4 8.1 7.7 0 11.1-1.8 12.7-9.7l.6-2.6h-7.6l-.4 1.6c-.5 2-.8 3.7-3.3 3.7s-1.9-.7-1.6-2.4l2.8-13h11l1.5-7Zm18.4-.3c-12.1 0-15.1 3-17.7 14.9s-.5 14.8 11.4 14.8 15.2-2.9 17.7-14.8.8-14.9-11.4-14.9Zm-1.4 7.3c4.4 0 4.6 1.3 3.3 7.6s-2.1 7.5-6.5 7.5-4.9-1.2-3.5-7.5 2.1-7.6 6.7-7.6Zm33.6 5.7h8.6l.5-2.3c1.1-5.3 1.7-10.7-4.9-10.7a8.9 8.9 0 0 0-8.3 4.6h-.4l.9-4.3h-9.2l-6.2 29.1h9.5l3.7-17.5c.5-2.3 1.7-4.6 4.5-4.6s2 2.3 1.6 4.3l-.3 1.4ZM198 53.1h-11l-8.9 41.5h28.4l2.1-9.7h-17.4l6.8-31.8Zm27.8 29.5c3.1 0 5.1.2 4.6 2.6s-1.9 3.6-5.9 3.6c-1.5 0-4.2 0-3.5-3.2s2.5-3 4.8-3Zm2.6 12h9.6l3.8-18.2c2.1-10-1.7-11.2-11.4-11.2-6.8 0-13.4-.1-15.3 8.9h9.5c.5-2.6 2.1-3.1 4.5-3.1 4.2 0 4 1.7 3.4 4.4l-1 4.6h-.4c-.4-3.3-4.5-3.3-7.2-3.3-6.9 0-11 2.2-12.5 9.2s2 9 8.6 9c3.3 0 7.8-.7 9.4-4.6h.3l-1.3 4.3Zm30.7-29.1h-9.5l-6.2 29.1h9.5l6.2-29.1Zm2.6-12.4h-9.5l-1.6 7.3h9.6l1.5-7.3Zm29.4 12.4h-9.8l-9.6 22.7h-.3l-.4-22.7h-10l1.9 29.1h14.9l13.3-29.1ZM303 82.6c3.1 0 5.2.2 4.7 2.6s-2 3.6-6 3.6c-1.4 0-4.1 0-3.5-3.2s2.5-3 4.8-3Zm2.7 12h9.5l3.9-18.2c2.1-10-1.7-11.2-11.5-11.2-6.8 0-13.4-.1-15.3 8.9h9.5c.6-2.6 2.2-3.1 4.6-3.1 4.1 0 3.9 1.7 3.4 4.4l-1 4.6h-.5c-.3-3.3-4.5-3.3-7.2-3.3-6.8 0-10.9 2.2-12.4 9.2s1.9 9 8.6 9c3.3 0 7.7-.7 9.3-4.6h.3l-1.2 4.3Zm45.8-20.8.3-1.4c1.5-7.2-6-7.2-11.3-7.2-8.1 0-14.3.1-16.2 9.5-1.3 5.9.3 8.6 12.3 8.6 3.4 0 5 0 4.4 2.9s-1.2 2.6-5.5 2.6c-2.3 0-4.7 0-4-3.3H322c-2.1 9.6 4.6 9.4 12.2 9.4s14.5-1.3 16.3-9.8-2.5-8.7-12.3-8.9c-4.9-.1-4.8-1.1-4.5-2.6s.5-2.3 5.5-2.3c1.5 0 3.5 0 3.4 2.5Zm14.7 11.1h-8.9l-2.1 9.7h9l2-9.7Zm25.6-31.8h-9.5l-8.9 41.5h9.6l8.8-41.5Zm30.3 12.4h-9.9l-9.6 22.7h-.2l-.5-22.7H392l1.8 29.1h14.9l13.4-29.1Z" fill="#013690"/></g></svg>
                </a>

                <div class="flex flex-wrap items-center mb-4 text-sm text-gray-500 lg:mb-0 dark:text-gray-400">
                  <NuxtLink to="/catalog" class="mr-4 md:mr-6 font-medium text-black hover:text-sred">Engines</NuxtLink>
                  <NuxtLink to="/about" class="mr-4 md:mr-6 font-medium text-black hover:text-sred">Maintenance & Parts</NuxtLink>
                  <NuxtLink to="/about" class="mr-4 md:mr-6 font-medium text-black hover:text-sred">About</NuxtLink>
                  <NuxtLink to="/contacts" class="mr-4 md:mr-6 font-medium text-black hover:text-sred">Contact Us</NuxtLink>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
            <div class="sm:items-end sm:justify-between sm:flex">
              <p class="text-gray-500 text-left text-sm dark:text-gray-400">
                SIA Sporta sektors <br> Kalnciema Iela 46, Rīga
              </p>

                <div class="flex justify-center mt-4 space-x-6 sm:mt-0">
                  <span class="block text-sm text-gray-500 dark:text-gray-400">
                  © 1999-{{ new Date().getFullYear() }}
                  <a href="https://flowbite.com" class="hover:underline">Motorlaivas.lv</a>. All Rights Reserved.
                </span>
                </div>
            </div>
        </div>
    </footer>
</template>

<style lang="sass" scoped>

</style>