<template>
    <div class="container">
        <Header />
        <slot />
        <Footer />
      </div>
</template>

<style scoped lang="sass">
  .container
    max-width: 1270px
    margin: 30px auto 100px

</style>