<template>
  <section>
    <div class="container px-5 pt-32 pb-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-16">
        <h2 class="text-sm text-sred tracking-widest font-medium title-font mb-2">Expert Suzuki Outboard Motor Maintenance</h2>
        <h1 class="text-4xl font-medium title-font mb-12">Trust MotorLaivas.lv for the Best in <br> Outboard Motor Care and Support.</h1>

        <div class="max-w-xl mx-auto px-2 font-inter">
          <p class="mb-12 text-justify leading-relaxed text-base">
            Welcome to MotorLaivas.lv, your trusted source for expert Suzuki outboard motor maintenance. Our company specializes in providing top-quality maintenance and repair services for Suzuki outboard motors, ensuring that your vessel runs smoothly and efficiently.
          </p>

          <p class="mb-12 text-justify leading-relaxed text-base">
            We understand the importance of proper maintenance and repair for your outboard motor. Our team of trained technicians has the knowledge and expertise to handle any issue, from routine maintenance to complex repairs. We use only the best equipment and tools, and we follow the manufacturer's guidelines to ensure that your outboard motor is running at its best.
          </p>

          <p class="mb-12 text-justify leading-relaxed text-base">
            In addition to maintenance and repair services, we also offer a variety of boat equipment and accessories for purchase. Whether you need a new battery, propeller, or any other accessory, our team is here to help you find what you need.
          </p>

          <p class="mb-12 text-justify leading-relaxed text-base">
            We are committed to providing our customers with the best possible service and support, and we look forward to serving you soon. If you have any questions or would like to schedule an appointment, please don't hesitate to reach out.
          </p>
        </div>

      </div>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto">
          <div class="flex flex-wrap justify-center text-center">
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">20 Years</h2>
              <p class="leading-relaxed">Experience</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">1.8K</h2>
              <p class="leading-relaxed">Subscribes</p>
            </div>
            <div class="p-4 sm:w-1/4 w-1/2">
              <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">35</h2>
              <p class="leading-relaxed">Downloads</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</template>