<template>
  <div>
    <section class="hero">
      <div class="hero-bg">
        <div class="hero-bg-overlay"></div>

        <div class="hero-content container flex justify-center">
          <div class="flex items-center gap-8">
            <img class="max-w-xl" src="~/assets/img/the-ultimate-outboard-logo.webp" alt="">
            <div class="hero-content__subtitle font-inter text-base font-semibold max-w-sm">
              <p class="text-white mb-4">
                High-quality Suzuki Marine engines and expert maintenance services. Our knowledgeable sales team is dedicated to helping you find the perfect outboard motor for your vessel.
              </p>
              <p class="text-white">
                We use only genuine Suzuki parts and the latest diagnostic equipment to keep your engine running smoothly. You can trust that you're getting the highest-quality products and services for your Suzuki Marine engine.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-menu flex justify-center max-w-5xl mx-auto -mt-44 h-44 relative z-50">
        <div class="hero-menu__item px-8 py-6">
          <div class="relative z-10">
            <h2 class="font-inter text-2xl font-semibold font-oswald mb-3 text-white">Engines</h2>
            <p class="text-white font-inter mb-2">Power your boat with a high-quality Suzuki Marine engine</p>
            <a href="#" class="text-white underline text-base tracking-wider font-light hover:text-sred">See catalog</a>
          </div>
        </div>
        <div class="hero-menu__item px-8 py-6">
          <div class="relative z-10">
            <h2 class="font-inter text-2xl font-semibold font-oswald mb-3 text-white">Maintenance</h2>
            <p class="text-white font-inter mb-2">Keep your engine running smoothly with our expert services</p>
            <a href="#" class="text-white underline text-base tracking-wider font-light hover:text-sred">Book an appointment</a>
          </div>
        </div>
        <div class="hero-menu__item px-8 py-6">
          <div class="relative z-10">
            <h2 class="font-inter text-2xl font-semibold font-oswald mb-3 text-white">About us</h2>
            <p class="text-white font-inter mb-2">Learn more about us and our commitment to excellence.</p>
            <a href="#" class="text-white underline text-base tracking-wider font-light hover:text-sred">Read more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900 mt-12">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <div class="mt-4 md:mt-0 font-inter">
            <h2 class="mb-4 text-4xl tracking-tight font-oswald font-extrabold text-gray-900 dark:text-white">
              Superior Performance on the Water
            </h2>

            <p class="mb-6 text-base font-light text-gray-500 md:text-lg dark:text-gray-400">
              Suzuki Marine engines offer superior performance on the water, delivering unmatched power, speed, and reliability.
              <br>
              <br>
              With advanced features like Suzuki Lean Burn technology, Precision Control, and Selective Rotation, Suzuki Marine engines provide exceptional fuel efficiency, precise throttle control, and unparalleled maneuverability.
              <br>
              <br>
              Whether you're cruising at top speeds or navigating tight spaces, you can trust a Suzuki Marine engine to provide the performance you need to make the most of your time on the water.
            </p>
            <a href="#" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
            Get started
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>

        <img class="w-full rounded-xl" src="~/assets/img/promo-1.jpg" alt="dashboard image">
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900">
      <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <img class="w-full rounded-xl" src="~/assets/img/promo-bg.jpg" alt="dashboard image">

          <div class="mt-4 md:mt-0 font-inter">
            <h2 class="mb-4 text-4xl tracking-tight font-oswald font-extrabold text-gray-900 dark:text-white">Exceptional Service and Support</h2>
            <p class="mb-6 text-base font-light text-gray-500 md:text-lg dark:text-gray-400">
              Our dealership is committed to providing exceptional service and support to our customers. We help you every step of the way, from choosing the right engine to expert maintenance and repairs.
              <br>
              <br>
              Our experienced technicians and sales staff are here to assist you. We also offer a comprehensive warranty on all Suzuki Marine engines, giving you peace of mind and protection.
            </p>
            <a href="#" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
            Get started
            <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
      </div>
    </section>


    <!-- <section class="text-gray-600 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
            Outboard motors
            <br class="hidden lg:inline-block">For the ultimate water sports experience
          </h1>
          <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
          <div class="flex justify-center">
            <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Learn More</button>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="~/assets/img/promo-1.jpg">
        </div>
      </div>
    </section> -->

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2 class="text-6xl font-medium title-font mb-2 text-gray-900">Outboard motors</h2>
          <p class="leading-relaxed text-sgray font-inter">For the ultimate water sports experience</p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-80 rounded w-full object-contain object-center mb-6" src="~/assets/img/engines/DF140.png" alt="content">
              <h2 class="text-3xl text-center text-gray-900 font-medium title-font mb-4">GEKI Series, 350 - 300 hp</h2>
              <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-80 rounded w-full object-contain object-center mb-6" src="~/assets/img/engines/DF200.png" alt="content">
              <h2 class="text-3xl text-center text-gray-900 font-medium title-font mb-4">V6 Engines, 300 - 220 hp</h2>
              <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-80 rounded w-full object-contain object-center mb-6" src="~/assets/img/engines/DF300.png" alt="content">
              <h2 class="text-3xl text-center text-gray-900 font-medium title-font mb-4">4 in series, 200 - 150 hp</h2>
              <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-80 rounded w-full object-contain object-center mb-6" src="~/assets/img/engines/DF350.png" alt="content">
              <h2 class="text-3xl text-center text-gray-900 font-medium title-font mb-4">4 in series, 140 - 70 hp</h2>
              <!-- <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <FeaturedProducts></FeaturedProducts>

      </div>
    </section> -->

  </div>
</template>

<style lang="sass" scoped>
.hero-content
  position: relative
  margin: 0 auto
  z-index: 5

.hero-content__subtitle p
  line-height: 1.6

.hero-menu
  position: relative
  background-color: #FFFFFF0D
  z-index: 2
  overflow: hidden
  border-top-right-radius: 6px
  border-top-left-radius: 6px

  &:before
    content: ""
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    backdrop-filter: blur(10px)
    z-index: 1

.hero-bg
  position: relative
  margin-top: 0
  margin-bottom: 0
  padding: 220px 0 300px 0
  background-image: url("~/assets/img/promo-bg-5.webp")
  background-position-x: center
  background-position-y: 80%
  background-repeat: no-repeat
  background-size: cover

.hero-bg-overlay
  //background-color: #163d4c
  background-color: #000
  opacity: 0.5
  height: 100%
  width: 100%
  top: 0
  left: 0
  position: absolute
  z-index: 1
</style>
